.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-left: 104px;
  margin-right: 82px;
}
.cart-container {
  background-color: #ffe0b3;
}
.order {
  text-align: center;
}
.order-info {
  padding: 20px;
}
